
a{padding-right: 80px;

margin-left: 200px;
}

h5{ color:black:}


carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        margin:auto;
        width: 100%; // Add this
        }